
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    height: 100vh;
    width: 250px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: fixed;
}
.navbar-header {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #575fcf;
    padding-bottom: 10px;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 30px;
    font-size: 18px;
    transition: 0.3s ease;
    text-align: center;
}

.nav-link:hover {
    background-color: #575fcf;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateX(10px);
}

.nav-link:active {
    background-color: #34e7e4;
    transform: translateX(15px);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #333;
    font-size: 2.5em;
    
}
.container {
    width: 800px; /* Fixed width for the article container */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto; /* Automatically adds space on the left */
    margin-right: 0;   /* Keeps the container aligned to the right */
}
article h2, article h3 {
    color: #444;
    margin-bottom: 10px;
    margin-left: 60px;
    padding-left: 60px;
}

article p {
    margin-bottom: 15px;
    color: #555;
    margin-left: 60px;
    padding-left: 60px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
    color: #666;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
