header nav ul {
    display:inline;
    text-decoration: none ;
}

header h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

header {
    background-color: rgb(0, 68, 255);
    border-radius: 24px;
    border: 20px;
}